<div class="modal-header" *ngIf="isModal">
    <h4 class="modal-title">Inicio de sesion</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="cerrar()">x</button>

</div>

<div class="login">
    <form action="" [formGroup]="formlogin">
        <div class="mb-3">
            <label for="username" class="form-label">Usuario</label>
            <input type="text" class="form-control" formControlName="username" id="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="password" id="password">
        </div>
        <div class="mb-3 text-center">
            <button (click)="validar()" type="submit" class="btn btn-primary">Acceder</button>
        </div>
    </form>
</div>